* {
  background-color: #0a0a0a;
  color: #EEE3C1;
  font-family: "Neue Haas Grotesk Text Bd", Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  font-weight: bold;
  transition: .2s;
  -webkit-font-smoothing: antialiased;
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 1000px;
}

.section1, .second, .third, .download, .hourly, .images, .afterImages, .free, .how{
  border-bottom: 4px solid #EEE3C1;
  
}

.download a{
  color: #D0021B;
  font-size: 22px;
  padding: 10px 0;
  padding-left: 894px;
}

.hourly{
  display: flex;
}

.video{
  position: relative;
  width: 100%;
  height: auto;
}

.background-image{
  width: 100%;
  height: auto;
  display: block;
}

.overlay-video{
  position: absolute;
  top: 73px;
  left: 21px;
  width: 295px;
  height: auto;
  display: block;
}

.afterImages{
  display: flex;
}

.afterImages p{
  font-size: 34px;
  padding-top: 68px;
  width: 60%;
  margin-left: 180px;
}

.afterImages a{
  color: #D0021B;
  font-size: 40px;
  padding-top: 213px;
  margin: 6px;
  width: 20%;
}

.how{
  padding: 24px;
}

.section1{
  display: flex;
}

.subclass1 a{
  margin: 9px;
}

.subclass1 p{
  font-size: 35px;
  margin: 31px;
}
.first, .second a, .third a{
  display: block;
  color: #D0021B;
  margin-bottom: 5px;
  margin-top: -3px;
  margin-left: -5px;
  font-size: 182px;
  
}

.third a{
  text-align: center;
}

.images, .second{
  display: flex;
  justify-content: space-between;

}

.images img, .second img{
  width:30%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 27px;
}

.second {
  display: flex;
}
.second p{
    padding-top: 10px;
    margin-right: 90px;
    font-size: 35px;
    letter-spacing: -2px;
}

.third p{
  font-size: 27px;
}

.video, .second img{
  max-width: 33.3%;
  margin-left: 12px;
  /* padding-top: 26px; */
  
}

.free{
  padding: 63px;
}

.authors{
  padding-top: 226px;
  padding-bottom: 20px;
  display: flex;
  font-size: 37px;
  border-bottom: 4px solid #EEE3C1;
}

.authors a{
  color: #D0021B;
}
